body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

a {
  
}

.container {
  width: 70%;
  min-width: 500px; /*we should see what they actually use*/
  height: 100%;
  margin: 0 auto; /*center the container in the body*/
}

.body-text {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

.body-text__common {
  width: 100%;
}

.body-text__right { /*not the best symantic name - think of a better one*/
  width: 100%;
  text-align: right; 
}

.image-links {
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
}

/*must use float to make sure divs don't take up just one row*/
.image-links__row {
  float: left;
  /*we float the row div so the row div height doesn't collapse filled with floated rows*/
  height: 100%;
  width: 100%;
  position: relative;
}

.image-links-row:after {
  clear: both;
}

.image-links-row:before {
  clear: both;
}

.image-links__cell {
  width: 25%;
  height: 100%;
  min-height: 200px;
  float: left;
  padding: 5px 10px;
  box-sizing: border-box;
  position: relative;
}

.image-links__link {
   
}

/*I can center these if I give them a specific pixel size, but how to make it scale?*/
/*OR -- build this without dynamically sizing cells - give them a specific size*/
/*If I want them to dynamically resize, how can I center - i tried css-tricks but collapsing*/
/* http://css-tricks.com/centering-css-complete-guide/ */
.image-links__img {
  width: 100%;
  max-width: 150px; /*prevent images from pixelating*/
  height: auto;
  margin: auto 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: .8em;
}

.footer__horizonal-rule {
  
}

.footer__text {
  width: 100%;
}

ul.footer__links {
  list-style-type: none;
  /*how do I make the list items flow horizontally?*/
}